@model AppUserLoginDto
@{
    Layout = "_Layout";
}
<div class="mt-4">
    <form method="post" asp-action="SignIn" asp-controller="Account" class="p-4 w-75 mx-aouto">

       
        <div class="mb-3">
            <label>Kullanıcı Adınız :</label>
            <input type="text" asp-for="UserName" class="form-control" />

        </div>
     
        
        <div class="mb-3">
            <label>Şifreniz :</label>
            <input type="password" asp-for="Password" class="form-control" />

        </div>
       
        <div class="form-check">
            <input  class="form-check-input" type="checkbox" asp-for="rememberMe" />
            <label class="form-check-label">
                Beni Hatırla
            </label>
        </div>
        <div class="mb-3 text-lg-end">

            <button type="submit" class="btn btn-primary">Giriş Yap</button>

        </div>
        <div class="text-danger text-lg-start" asp-validation-summary="All">



        </div>


    </form>
</div>
